<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.96987838432-15cotg2jfgi3htal7rjq41em4viblkvp</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>96987838432-15cotg2jfgi3htal7rjq41em4viblkvp.apps.googleusercontent.com</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>Splash</string>
	</dict>
</dict>
</plist>
